/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: var(--primary-on-color);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

/* Links */
a {
    color: var(--primary-on-color);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--primary-on-color);
    text-decoration: none;
}

/* Paragraphs */
p {
    margin-top: 0;
    margin-bottom: 1em;
}

p:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last <p> */
}

/* Lists */
ul, ol {
    margin: 0 0 1em 1.5em;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

/* Color pallet 2 */
:root {

    /* Color definitions */
    --teal-50: #E0F2F1;
    --teal-100: #B2DFDB;
    --teal-200: #80CBC4;
    --teal-300: #4DB6AC;
    --teal-400: #26A69A;
    --teal-500: #009688;
    --teal-600: #00897B;
    --teal-700: #00796B;
    /* light on color */
    --teal-800: #00695C;
    /* light on color */
    --teal-900: #004D40;
    /* light on color */
    --teal-A100: #A7FFEB;
    --teal-A200: #64FFDA;
    --teal-A400: #1DE9B6;
    --teal-A700: #00BFA5;

    --col-white: #F7FBFA;
    --col-black: hsl(20, 0%, 20%);
    --col-black-light: hsl(20, 5%, 30%);
    --col-black-lightlight: hsl(20, 10%, 80%);

    --col-accent: #693216;
    --col-primary: var(--teal-300);
    --col-primary-dark: var(--teal-700);
    --col-primary-light: var(--teal-50);

    /* Color to UI assignments */
    --background-color: var(--col-primary-light);
    --background-on-color: var(--col-black-light);
    --surface-color: var(--col-white);
    --surface-on-color: var(--col-black);
    --surface-on-alt-color: var(--col-black-light);
    --primary-color: var(--col-primary);
    --primary-on-color: var(--col-black);
    --primary-on-alt-color: var(--col-black-light);
    --primarydark-color: var(--col-primary-dark);
    --primarydark-on-color: var(--col-white);
    --primarydark-on-alt-color: var(--col-primary);

    --shadow: rgba(0, 0, 0, 0.2);
}


/* Set a default font and background color */
body {
    background-color: var(--background-color);
}

.paper {
    place-items: center;
    background-color: var(--surface-color);
    box-shadow: 0 0 15px var(--shadow);
    max-width: 21cm;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: var(--primary-color);
    color: var(--primary-on-color);
        box-shadow: 0 0 15px var(--shadow);
}

.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.timeline_left {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content:space-between;

    width: 20%;
    padding: 20px;
    text-align: right;
}

.timeline {
    background-color: var(--col-black);
    width: 15px;
    height: 100;
}

.timeline_right {
    padding: 20px;
    width: 76%;
}

@media screen and (max-width: 21cm) {
    .timeline_left {
        display: block;
        width: 100%;
        text-align: left;
        margin-left: 15px;
    }

    .timeline_right {
        width: 100%;
        margin-left: 15px;
    }
    
    .timeline {
        position: absolute;
        display: block;
        width: 15px;
        height: 100%;
    }
}


.milestoneline .timeline_left, 
.milestoneline .timeline_right {
    border-top: 1px solid var(--col-black-lightlight);
}
.milestoneline 
.timeline{
    border-top: 1px solid var(--col-black);
}

.avatar-container {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 300px;
    max-width: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: var(--primarydark-color);

    box-shadow: 0 0 15px var(--shadow);
}

.carddisplay {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

a.card:hover,
a.card:focus {
    background-color: var(--primarydark-color);
    color: var(--primarydark-on-color);
}

a.card:hover .card-details,
a.card:focus .card-details {
    color: var(--primarydark-on-alt-color);
}

.card {
    display: flex;
    flex-direction: row;

    background-color: var(--primary-color);
    color: var(--primary-on-color);

    box-shadow: 0 0 15px var(--shadow);
    overflow: hidden;
    border-radius: 5px;
}

.card-text {
    margin-bottom: 0.5em;
    min-height: 80%;
}

.card-details {
    font-size: 0.7em;
    color: var(--primary-on-alt-color);
    text-align: right;
    width: 100%;
}

.card-img {
    background-color: var(--surface-color);
    max-width: 25%;
    display: inline-flex;
}

.card-img img {
    width: 100%;
}

.timeline-content-details {
    font-size: 0.7em;
    color: var(--surface-on-alt-color);
    width: 100%;
}

.timeline_right .timeline-content-details{
    margin-top: 1rem;
    text-align: right;
}

.timeline-content-img {
    background-color: var(--surface-color);
    max-width: 25%;
    margin-bottom: 1rem;
}

.timeline-content-img img {
    max-width: 100%;
    max-height: 5em;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: right;
    background-color: var(--primarydark-color);
}

.social-profile {
    vertical-align: middle;
    display: inline-flex;
}

.social-profile-icon {
    width: 1.75rem;
    margin: .5rem;
}

/* Image paths specified in layout/social.html */
.social-profile-icon path {
    fill: var(--primarydark-on-color);
}

.social-profile-icon:hover path,
.social-profile-icon:focus path {
    fill: var(--primarydark-on-alt-color);
}

.footer {
    color: var(--background-on-color);
    margin-top: 5vh;
    text-align: center;
}